<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

   <servlet>
   	<servlet-name>register</servlet-name>
   	<servlet-class>Assignment.RegisterServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
   		<servlet-name>register</servlet-name>
   		<url-pattern>/register</url-pattern>
   </servlet-mapping>
   
  <servlet>
   	<servlet-name>login</servlet-name>
   	<servlet-class>Assignment.LoginServlet</servlet-class>
   </servlet>
   
     <servlet-mapping>
   	<servlet-name>login</servlet-name>
   	<url-pattern>/loginservlet</url-pattern>
   </servlet-mapping>
   
   <servlet>
   	<servlet-name>vehicle</servlet-name>
   	<servlet-class>Assignment.VehicleServlet</servlet-class>
   </servlet>
   
     <servlet-mapping>
   	<servlet-name>vehicle</servlet-name>
   	<url-pattern>/vehicleregister</url-pattern>
   </servlet-mapping>
   
    <servlet>
   	<servlet-name>vehicleplan</servlet-name>
   	<servlet-class>Assignment.VehiclePlanServlet</servlet-class>
   </servlet>
   
     <servlet-mapping>
   	<servlet-name>vehicleplan</servlet-name>
   	<url-pattern>/vehicleplan</url-pattern>
   </servlet-mapping>
   
   <servlet>
   	<servlet-name>homepage</servlet-name>
   	<servlet-class>Assignment.HomePageServlet</servlet-class>
   </servlet>
   
     <servlet-mapping>
   	<servlet-name>homepage</servlet-name>
   	<url-pattern>/homepage</url-pattern>
   </servlet-mapping>
  
</web-app>