

form input[type=text], [type=email], [type=number], select, textarea {
	width: 35%;
	border-radius: 10px;
	font-size: medium;
	height: 23px;
	text-align: center;
}

fieldset {
	background-color: lightgray;
}

form {
	text-align: center;
}

:valid form {
	border-color: green;
}


table,
        td,
        th {
            border: 1px solid #ddd;
            text-align: left;
        }
       
        table {
            border-collapse: collapse;
            width: 100%;
        }
       
        th,
        td {
            padding: 15px;
        }
        table a {
            border: 2px solid black;
            padding: 5px 18px;
            background-color: black;
            color: white;
        }
